<!DOCTYPE html>
<html lang="en">

<head>
    <title>Photo Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <script src="/static/js/dropzone.js"></script>

</head>

<body>
    <div class="hero">
        <div class="hero-body app-hero">
            <h1 class="title">
                John and Tenita's Wedding
            </h1>
            <h2 class="subtitle">
                Welcome to the Dropzone
            </h2>

        </div>
    </div>

    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-10-desktop is-6-mobile" style="margin-bottom:1rem">
                <form action="/" method="post" class="dropzone" id="my-dz-image">
                    <div class="dz-message needsclick">
                        <div class="needsclick upload-container">
                            <img class="needsclick upload-icon" src="/static/svg/camera-retro.svg" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-2-desktop is-6-mobile" style="margin-bottom:1rem">
                <form action="/" method="post" class="dropzone" id="my-dz-video">
                    <div class="dz-message needsclick">
                        <div class="needsclick upload-container">
                            <img class="needsclick upload-icon" src="/static/svg/upload.svg" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-12-desktop is-12-mobile" style="margin-bottom:1rem; height: 5rem; overflow-y: hidden">

                <div class="dropzone-previews" id="previews-container">

                </div>
            </div>

        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical is-4">
                {{range .First}}
                <div class="tile is-gapless" style="flex-grow: 0">
                    <a href="{{.}}">
                        <img src="{{.}}" />
                    </a>
                </div>
                {{end}}
            </div>
            <div class="tile is-parent is-vertical is-4">
                {{range .Second}}
                <div class="tile" style="flex-grow: 0">
                    <a href="{{.}}">
                        <img src="{{.}}" />
                    </a>
                </div>
                {{end}}
            </div>
            <div class="tile is-parent is-vertical is-4">
                {{range .Third}}
                <div class="tile" style="flex-grow: 0">
                    <a href="{{.}}">
                        <img src="{{.}}" />
                    </a>
                </div>
                {{end}}
            </div>

        </div>
    </div>

    <div id="tpl">
        <div class="dz-preview dz-file-preview" style="margin:1rem;">
            <p>
                <div class="dz-size" data-dz-size></div>
                <div class="dz-success-mark"><span>✔</span></div>
            </p>
        </div>
    </div>


</body>
<script>
    const previewsContainer = document.getElementById("previews-container")
    tpl = document
        .querySelector('#tpl')
        .innerHTML
    Dropzone.autoDiscover = false;
    Dropzone.createImageThumbnails = false;
    Dropzone.options.myDzImage = { previewTemplate: tpl, createImageThumbnails: false, clickable: true, acceptedFiles: "image/*" };
    Dropzone.options.myDzVideo = { previewTemplate: tpl, createImageThumbnails: false, clickable: true };
    dzImage = new Dropzone('#my-dz-image');
    dzVideo = new Dropzone('#my-dz-video');
</script>

</html>