<!DOCTYPE html>
<html lang="en">

<head>
    <title>Photo Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <script src="/static/js/dropzone.js"></script>
</head>

<body>
    <div class="hero">
        <div class="hero-body" style="text-align: center; padding-bottom: 0">
            <h1 class=" title">Welcome to the Dropzone</h1>
            <h2 class="subtitle">
                John and Tenita's Wedding
            </h2>
        </div>
    </div>
    <div class="section">
        <div class="container is-fluid">
            <div class="column">
                <form action="/" class="dropzone">
            </div>
            <div class="columns is-multiline">
                {{range .}}
                <div class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop">
                    <div class="card">
                        <div class="card-content">
                            <a href="{{.}}">
                                <figure>
                                    <img src="{{.}}" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>